# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
locale                   : "en-US"
title                    : "Usman Khaliq"
title_separator          : "-"
name                     : "Usman Khaliq"
description              : "Coder,Data Science Enthusiast, ICT4D Practitioner."
url                      : # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : # the subpath of your site, e.g. "/blog"
gh_repo                  :
teaser                   : # filename of teaser fallback teaser image placed in /images/, .e.g. "500x300.png"
# breadcrumbs            : false # true, false (default)
words_per_minute         : 200
comments:
  provider               : "disqus"
  disqus:
    shortname            : "usmankhaliq"
  discourse:
    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    # https://developers.facebook.com/docs/plugins/comments
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification : 

# Theme
minimal_mistakes_skin : "dark"

# Social Sharing
twitter:
  username               : "usman.khaliq"
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links:
    - "https://twitter.com/usman.khaliq"
    - "https://facebook.com/usman.khaliq.7"
    - "https://instagram.com/ottoman91"
    - "https://www.linkedin.com/in/usmankhaliq1"

# Analytics
analytics:
  provider               : false # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          :

# Google AdSense
google_ad_client         :
google_ad_slot           :


# Site Author
author:
  name             : "Usman Khaliq"
  avatar           : "usmanbio.gif"
  bio              : "ICT for development, civic tech and financial inclusion practitioner"
  location         : "Sierra Leone"
  email            : "usman.khaliq91@gmail.com"
  uri              :  
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "ottoman91"
  google_plus      :
  keybase          :
  instagram        : "ottoman91"
  lastfm           :
  linkedin         : "usmankhaliq1"
  pinterest        :
  soundcloud       :
  stackoverflow    : "http://stackoverflow.com/users/4623619/usman-khaliq"
  steam            :
  tumblr           :
  twitter          : "usman.khaliq"
  vine             :
  weibo            :
  xing             :
  youtube          :


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone:  GMT

# Plugins
gems:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-creativecommons


# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development 


defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true 

defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single 

defaults:
  # _foo
  - scope:
      path: ""
      type: foo
    values:
      layout: single  

defaults:
  # _foo
  - scope:
      path: ""
      type: splash
    values:
      layout: single 
      author_profile: true

# Collections
collections:
  blogs:
    output: true
    permalink: /:collection/:path/ 
    share: true
  books:
    output: true
    permalink: /:collection/:path/ 
    share: true
  civictechs:
    output: true
    permalink: /:collection/:path/ 
    share: true
  codes:
    output: true
    permalink: /:collection/:path/ 
    share: true 
  projects:
    output: true
    permalink: /:collection/:path/ 
    share: true  
  healthcare:
    output: true
    permalink: /:collection/:path/ 
    share: true  
  sanitation:
    output: true
    permalink: /:collection/:path/ 
    share: true  
  opendata:
    output: true
    permalink: /:collection/:path/ 
    share: true 
  fin:
    output: true
    permalink: /:collection/:path/ 
    share: true  
  civicmedia:
    output: true
    permalink: /:collection/:path/ 
    share: true 
  egov:
    output: true
    permalink: /:collection/:path/ 
    share: true 



defaults:
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true


